.mainbox {
    position: absolute;
    top:120px;
    left:30px;
    max-height: 400px;
    min-width: 400px;
    background-color: white;
}

.object-info {
    font-size: 20px;
    -unity-font-style: bold;
}


.info-item .unity-base-field__label {
    min-width: 120px;
}

.unity-base-field:focus > .unity-base-field__label {
    color: white;
}

